body {
    background-color: @f5f7fa;
}

@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
        text-align: center;
    }

        section div {
            max-width: 100%;
        }

        section img {
            width: 100%;
            margin-bottom: 20px;
        }

        section div p {
            max-width: 100%;
        }
}

/* Hero section styling */

.hero {
    background: linear-gradient(180deg, rgba(13,13,60,0.92) 0%, rgba(13,13,60,0.85) 60%), url('/images/backg.png') no-repeat center center / cover;
    position: relative;
    color: #e9ecf5;
    height: 100vh;
}


.hero-content {
    position: relative; /* ensures button is above overlay */
    z-index: 2;
}


.hero-content {
    padding-top: 200px; /* move text down */
    padding-bottom: 50px; /* add space below */
}

.hero img {
    width: 500px;
    height: 300px;
}


section {
    font-family: 'Segoe UI', sans-serif;
}

    section h2 {
        font-size: 1.5em;
        font-weight: bold;
    }

    section div p {
        font-size: 0.95em;
        color: #333;
    }

.blue-text {
    color: #334D94;
}

.text-white {
    color: white;
}

.report-summary {
    background-color: #ffffff;
}

    .report-summary h2 {
        color: #334D94;
    }

    .report-summary p {
        font-size: 1rem;
    }

.footer a:hover {
    color: #ffc107 !important;
    text-decoration: underline;
}

.text-dark {
    background-color: #0D0D3C;
    font: #ffffff;
}

.navbar-custom {
    background-color: #0D0D3C !important;
}

    .navbar-custom .nav-link,
    .navbar-custom .navbar-brand {
        color: #fff !important;
        letter-spacing: 0.04em;
        transition: color 0.3s ease;
        margin-left: 10px;
    }

        .navbar-custom .nav-link:hover {
            color: #f7931e !important;
            text-decoration: underline;
        }

/* Transparent logo */
.logo-img {
    width: 50px;
    height: auto;
    object-fit: contain;
    background-color: transparent;
}



.btn-orange {
    background-color: #f76c2f;
    border: none;
    padding: 6px 16px;
    font-weight: 600;
    border-radius: 8px;
}

    .btn-orange:hover {
        background-color: #e25b1a;
    }

.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.hero .hero-content h1,
.hero .hero-content p strong {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
