html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    display: flex; 
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1E293B;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: 1050;
}

    .sidebar .nav-link {
        color: #d1d5db;
        padding: 10px 15px;
        border-radius: 6px;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        transition: 0.3s;
    }

        .sidebar .nav-link:hover,
        .sidebar .nav-link.active {
            background-color: #2563eb;
            color: #fff;
        }

/* MAIN CONTENT */
.main-content {
    margin-left: 190px;
    padding: 50px;
    width: 100%;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
}
/* Collapse sidebar */
.sidebar.collapsed {
    left: -250px;
}

/* Expand main content when sidebar is collapsed */
.main-content.expanded {
    margin-left: 0;
    width: 100%;
}

/* Expand topbar when sidebar is collapsed */
.topbar.expanded {
    left: 0;
    width: 100%;
}

/* TOPBAR */
.topbar {
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
    padding: 0 1rem;
    transition: left 0.3s ease;
    z-index: 1000;
}

    .topbar.expanded {
        left: 0;
    }

    .topbar h5 {
        margin: 0;
        font-size: 1.1rem;
    }


/* PAGE BODY */
.page-body {
    margin-top: 0 px;
}

/* FOOTER */
footer {
    position: relative; 
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: #6c757d;
    padding: 15px 0;
    border-top: 1px solid #dee2e6;
    background-color: #fff;
}
